.popup__input-button {
    margin: 48px 0 0 0;
    padding: 0;
    width: 358px;
    height: 50px;
    background: black;
    color: white;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.popup__input-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__input-button {
        margin-top: 45px;
        width: 238px;
        align-self: center;
    }
}